services:
  prometheus:
    image: prom/prometheus
    ports: ["9090:9090"]
    volumes:
      - "./prometheus.yaml:/etc/prometheus/prometheus.yml"
      - "prometheus-data:/prometheus"
    networks:
      - monitoring
      - infrastructure_default

  grafana:
    image: grafana/grafana
    ports: ["3000:3000"]
    volumes:
      - "grafana-data:/var/lib/grafana"
    networks:
      - monitoring

volumes:
  prometheus-data:
  grafana-data:

networks:
  monitoring:
    driver: bridge
  infrastructure_default:
    external: true