name: Go CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [ main ]

jobs:

  lint-and-unit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin v2.8.0

      - name: Run golangci-lint
        continue-on-error: true
        run: golangci-lint run ./...

      - name: Run unit tests with coverage
        run: make run_tests_with_coverage


#  integration-tests:
#    runs-on: ubuntu-latest
#    needs: lint-and-unit
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - name: Set up Go
#        uses: actions/setup-go@v4
#        with:
#          go-version: 1.21
#
#      - name: Run integration tests
#        run: make run_test_integration
